<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title></title>
</head>
<body>
    <%- include layout %>
    <div class="container">
        <h3>Register</h3>
        <a href="register/add">add topic</a>
    </div>
    
</body>
</html>