<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
  </head>
  <body>
    <%- include layout %>
    <div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h4>Parkable Application For city life</h4>
    <h1>This is home page</h1> 
  
  <li><a href="/register/add">Sign up!!</a></li> 
  <li><a href="/login">Login</a></li> 
  <li><a href="/logout">Logout</a></li>

    </div>

  </body>
</html>
